main {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.main_title {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	padding: 20px 0 0;
}
.main_title .title {
	font-size: 88px;
}
.main_title .desc {
	font-family: 'Sevillana', cursive;
	font-size: 31px;
}
.main_break {
	height: 100px;
}
.container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}
.main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 100%;
	height: auto;
}
.main .img img {
	border: #361A00 1px solid;
	border-radius: 10px;
	width: 100%;
}
.main .text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}
.main .text .first {
	padding-left: 30px;
}
.main .text .first .desc {
	font-size: 40px;
}
.main .text .first .cost {
	padding-top: 20px;
	font-size: 48px;
}
.main .text .second button img {
	padding-left: 30px;
	width: 70px;
}

@media (max-width: 1680px) {

}
@media (max-width: 1200px) {
	.main_break {
		height: 80px;
	}
	.main_title .title {
		font-size: 58px;
		width: 60%;
	}
	.main_title .desc {
		font-size: 27px;
		width: 30%;
	}
	.main .text .first .desc {
		font-size: 30px;
	}
	.main .text .first .cost {
		font-size: 38px;
	}
}
@media (max-width: 992px) {
	.main_break {
		height: 70px;
	}
	.main_title .title {
		font-size: 50px;
		width: 60%;
	}
	.main_title .desc {
		font-size: 23px;
		width: 30%;
	}
}
@media (max-width: 768px) {
	.main_break {
		height: 50px;
	}
	.container {
		padding: 0 10px;
	}
	.main_title {
		padding: 0 10px;
		padding-top: 20px;;
	}
	.main_title .title {
		font-size: 38px;
	}
	.main_title .desc {
		font-size: 20px;
	}
	.main .text .first .desc {
		font-size: 16px;
	}
	.main .text .first .cost {
		font-size: 20px;
	}
	.main .text .second button img {
		padding-left: 20px;
		width: 50px;
	}
	.main .text .first {
		padding-left: 20px;
	}
}
